@import 'vars';

:host {
  display: flex;
  gap: 50px;
  flex-direction: column;
  .me-details {
    display: flex;
    width: 800px;
    border-radius: 0 40px 40px 40px;
    @include highlightable;
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
    img {
      min-width: 300px; // Image smaller during load without this...
      width: 300px;
      height: 300px;
      transition: transform 0.2s;
      background-color: rgb(241 241 241);
      border-radius: 0 40px 0 40px;
    }
    .text-details {
      padding-left: 30px;
      width: 100%;
      display: flex;
      flex-direction: column;
      white-space: pre-wrap;
      .details {
        span {
          display: inline;
        }
        &::ng-deep {
          .comment {
            margin-bottom: 10px;
            display: inline-block;
          }
        }
      }
    }
  }
  .skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .logos {
      display: flex;
      gap: 20px;
      img {
        height: 60px;
        @include hover-scale;
      }
    }
  }
  .short-description-container {
    max-width: min(80%, 1000px);
    .header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    p {
      text-align: justify;
    }
  }
}
