@import 'vars';

$itemHeight: 72px;
$borderWidth: 2px;
$activeItemMarkerHeight: $itemHeight + 16px;

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  @include not-phone {
    border-right: $borderWidth solid $colorAccent1;
  }
  @include phone {
    transition: opacity $tranNormalEased;
    &:not(.open) {
      opacity: 0;
      touch-action: none;
      pointer-events: none;
    }
    opacity: 1;
    position: fixed;
    background: $colorBg1;
  }
  position: relative;
  .items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    &.end-items {
      padding-bottom: 40px;
    }
    @include phone {
      align-items: flex-start;
    }
    @include not-phone {
      width: 100%;
    }
    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: $itemHeight;
      @include clickable;
      @include hover-scale;
      font-size: 54px;
      @include not-phone {
        width: 100%;
      }
      span {
        @include not-phone {
          display: none;
        }
        @include phone {
          left: 72px;
          &.title {
            position: absolute;
          }
          &.spacing {
            opacity: 0;
          }
        }
      }
    }
  }
  .active-item {
    height: $activeItemMarkerHeight;
    width: $borderWidth;
    position: absolute;
    background: $colorAccent2;
    right: -$borderWidth;
    transition: top $tranBezierMinimalOvershoot;
    @include phone {
      display: none;
    }
  }
}

.menu-button {
  @include not-phone {
    display: none;
  }
  i {
    @include clickable;
    font-size: 44px;
  }
  position: fixed;
  left: 10px;
  top: 10px;
}
