<div class="main-container"
     [class.open]="menuOpen$ | async">
  <div>
    <!-- empty for flexbox -->
  </div>
  <div class="items">
    <ng-container *ngFor="let item of menuItems$ | async">
      <div *awdLet="item.id === (activeMenuItemId$ | async) as activeItem"
           class="item"
           (click)="clickedItem(item)"
           [class.active]="activeItem"
           [id]="'menu-item-' + item.id">
        <i class="fa-light fa-{{activeItem ? (item.iconActive ?? item.icon) : item.icon}}"
           aria-hidden="true"></i>
        <span class="title">{{item.title}}</span>
        <span class="spacing">{{item.title}}</span>
      </div>
    </ng-container>
    <div class="active-item"
         [style.top.px]="activeMenuItemY$ | async"></div>
  </div>
  <div class="items end-items">
    <div class="item"
         (click)="switchLanguage()">
      <i class="fa-light fa-language"
         aria-hidden="true"></i>
    </div>
  </div>
</div>

<div class="menu-button"
     (click)="openMenu()"
     *ngIf="(menuOpen$ | async) === false">
  <i class="fa-light fa-bars"
     aria-hidden="true"></i>
</div>
