<div class="main-container">
  <div>
    <!-- empty for flexbox -->
  </div>
  <div class="items">
    <div *ngFor="let item of menuItems$ | async"
         class="item"
         (click)="clickedItem(item)"
         [class.active]="item.id === (activeMenuItemId$ | async)"
         [id]="'menu-item-' + item.id">
      <i class="fa-light fa-{{item.icon}}"></i>
    </div>
    <div class="active-item"
         [style.top.px]="activeMenuItemY$ | async"></div>
  </div>
  <div class="items end-items">
    <div class="item"
         (click)="switchLanguage()">
      <i class="fa-light fa-language"></i>
    </div>
  </div>
</div>
