@import 'vars';

$itemHeight: 64px;
$borderWidth: 2px;
$activeItemMarkerHeight: $itemHeight + 16px;

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  @include not-phone {
    border-right: $borderWidth solid $colorAccent1;
  }
  @include phone {
    transition: opacity 0.2s ease-in-out;
    &:not(.open) {
      opacity: 0;
      touch-action: none;
      pointer-events: none;
    }
    opacity: 1;
    position: fixed;
    background: $colorBg1;
  }
  position: relative;
  .items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 25px;
    &.end-items {
      padding-bottom: 40px;
    }
    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: $itemHeight;
      width: 100%;
      @include clickable;
      @include hover-scale;
      font-size: 54px;
    }
  }
  .active-item {
    height: $activeItemMarkerHeight;
    width: $borderWidth;
    position: absolute;
    background: $colorAccent2;
    right: -$borderWidth;
    transition: top 300ms cubic-bezier(0.97, -0.08, 0.555, 1.16);
    @include phone {
      display: none;
    }
  }
}

.menu-button {
  @include not-phone {
    display: none;
  }
  i {
    @include clickable;
    font-size: 44px;
  }
  position: fixed;
  left: 10px;
  top: 10px;
}
