<h2>awdware 0.1</h2>

<p>
  @if (lang() === 'de') {
    awdware 0.1 ist die erste öffentlich erreichbare Version von awdware.de. Die Seite basiert auf
    einem kostenlosen HTML-Template und wird mithilfe von PHP und MySQL um einige Funktionen
    erweitert. Sie bietet Downloads verschiedener von mir geschriebener Programme, einschließlich
    einiger Spiele (z.B., Snake) für den TI-nspire Taschenrechner, den wir damals in der Schule
    nutzten. Des Weiteren enthält sie eine Galerie mit von mir erstellten Desktophintergründen sowie
    ein rudimentäres Forum, das jedoch in dieser Version der Seite nie richtig funktioniert hat.
  } @else {
    awdware 0.1 is the first publicly accessible version of awdware.de. The site is based on a free
    HTML template and is augmented with PHP and MySQL to introduce additional features. It offers
    downloads of various programs I've written, including some games (e.g., Snake) for the TI-nspire
    calculator we used in school. Additionally, it features a gallery of desktop backgrounds created
    by me and a rudimentary forum that never quite functioned properly in this version of the site.
  }
  <awd-image src="assets/0_1.jpeg" alt="" center width="80" />
</p>
<p>
  @if (lang() === 'de') {
    Die Prämisse ist bereits damals, so viel wie möglich selbst zu machen und nicht auf
    vorgefertigte Lösungen zurückzugreifen, um möglichst viel zu lernen. Dass es keinen Sinn ergibt,
    ein Forum selbst zu schreiben, spielt dabei keine Rolle.
  } @else {
    The premise back then was to do as much as possible independently and not rely on ready-made
    solutions to maximize learning. So the fact that it doesn't make sense to write a forum yourself
    does not apply here.
  }
</p>
<p>
  @if (lang() === 'de') {
    Die Version verfügt über ein Login-System, das mit PHP und MySQL umgesetzt wird. Die Passwörter
    werden (relativ unsicher) gehasht und gespeichert. Es gibt jedoch einige offensichtliche
    Sicherheitslücken, beispielsweise die Möglichkeit, sich ohne Passwort anzumelden.
  } @else {
    The version already has a login system implemented with PHP and MySQL. Passwords are hashed and
    stored (relatively insecurely), and there are some obvious security vulnerabilities, such as the
    ability to log in without a password.
  }
</p>
<p>
  @if (lang() === 'de') {
    Insgesamt weist die Seite viele "architektonische" Probleme auf, die sich aus mangelnder
    Erfahrung und fehlendem Wissen ergeben. Die Struktur ist schlecht organisiert, und es gibt
    zahlreiche Redundanzen. Zudem ist die Seite sehr langsam, da die Datenbankabfragen ineffizient
    sind und die Seite bei jedem Aufruf komplett neu generiert wird. Trotzdem ist es ein solider
    Anfang und vor allem eine gute Übung.
  } @else {
    Overall, the site had many "architectural" issues stemming from a lack of experience and
    knowledge. It was poorly structured with numerous redundancies. Moreover, the site was slow due
    to inefficient database queries, regenerating the entire page with each visit. Nevertheless, it
    was a solid start and, most importantly, a valuable learning experience.
  }
</p>
