<h1>awdware 0.1</h1>

<p>
  awdware 0.1 ist die erste öffentlich erreichbare Version von awdware.de. Die Seite basiert auf
  einem kostenlosen HTML template und ist mit Hilfe von PHP und MySQL um einige Funktionen
  erweitert.
</p>
<p>
  Die Seite bot Downloads verschiedener von mit geschriebener Programme an. Neben verschiedenen
  Windows Anwendungen auch einige Spiele (z.B. Snake) für den TI-nspire Taschenrechner, welchen wir
  damals in der Schule genutzt haben. Außerdem gab es eine Gallerie mit Desktophintergründen, welche
  ich mit Photoshop erstellt habe und ein rudimentäres Forum, welches allerdings in dieser Version
  der Seite nie richtig funktioniert hat.
  <awd-image src="assets/0_0.jpeg" alt="" center width="80" />
</p>
<p>
  Die Prämisse war damals schon so viel wie möglich selbst zu machen und nicht auf fertige Lösungen
  zurückzugreifen, um möglichst viel zu lernen. Dass es keinen Sinn ergibt ein Forum selbst zu
  schreiben, spielt dabei keine Rolle.
</p>
<p>
  Die Seite hatte ein Login-System, welches mit PHP und MySQL umgesetzt wurde. Die Passwörter wurden
  (relativ unsicher) gehashed und gespeichert. Außerdem gab es einige sehr offentlichliche
  Sicherheitslücken, welche z.B. dazu führten, dass man sich ohne Passwort anmelden konnte.
</p>
<p>
  Insgesamt hatte die Seite viele "architektonische" Probleme, welche sich durch die fehlende
  Erfahrung und das fehlende Wissen ergeben haben. Die Seite war sehr schlecht strukturiert und es
  gab viele Redundanzen. Außerdem war die Seite sehr langsam, da die Datenbankabfragen sehr
  ineffizient waren und die Seite bei jedem Aufruf komplett neu generiert wurde. Unterm Strich war
  es aber ein guter Anfang und vor allem eine gute Übung.
</p>
