<div class="logo-container">
  <svg id="Layer_1"
       data-name="Layer 1"
       xmlns="http://www.w3.org/2000/svg"
       xmlns:xlink="http://www.w3.org/1999/xlink"
       viewBox="0 0 1574 595">
    <defs>
      <symbol id="slimKey"
              data-name="slimKey"
              viewBox="0 0 88 54">
        <rect class="cls-1"
              width="88"
              height="54"
              rx="4.42" />
      </symbol>
      <symbol id="NormalKey"
              data-name="NormalKey"
              viewBox="0 0 88 88">
        <rect class="cls-1"
              width="88"
              height="88"
              rx="5.64" />
      </symbol>
      <symbol id="KeyWide"
              data-name="KeyWide"
              viewBox="0 0 126 88">
        <rect class="cls-1"
              width="126"
              height="88"
              rx="6.75" />
      </symbol>
    </defs>
    <use width="88"
         height="54"
         xlink:href="#slimKey" />
    <use width="88"
         height="54"
         transform="translate(214)"
         xlink:href="#slimKey" />
    <use width="88"
         height="54"
         transform="translate(319.67)"
         xlink:href="#slimKey" />
    <use width="88"
         height="54"
         transform="translate(425.33)"
         xlink:href="#slimKey" />
    <use width="88"
         height="54"
         transform="translate(1274)"
         xlink:href="#slimKey" />
    <use width="88"
         height="54"
         transform="translate(1168)"
         xlink:href="#slimKey" />
    <use width="88"
         height="54"
         transform="translate(1007)"
         xlink:href="#slimKey" />
    <use width="88"
         height="54"
         transform="translate(901)"
         xlink:href="#slimKey" />
    <use width="88"
         height="54"
         transform="translate(795)"
         xlink:href="#slimKey" />
    <use width="88"
         height="54"
         transform="translate(1380)"
         xlink:href="#slimKey" />
    <use width="88"
         height="54"
         transform="translate(689)"
         xlink:href="#slimKey" />
    <use width="88"
         height="54"
         transform="translate(531)"
         xlink:href="#slimKey" />
    <use width="88"
         height="54"
         transform="translate(1486)"
         xlink:href="#slimKey" />
    <use width="88"
         height="88"
         transform="translate(0 82)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(106.17 82)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(318.5 82)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(212.33 82)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(1167.83 82)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(1061.67 82)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(955.5 82)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(849.33 82)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(743.17 82)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(637 82)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(530.83 82)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(424.67 82)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(1274 82)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(144.75 187.33)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(357.08 187.33)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(1206.42 187.33)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(1100.25 187.33)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(994.08 187.33)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(887.92 187.33)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(781.75 187.33)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(675.58 187.33)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(569.42 187.33)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(463.25 187.33)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(1312.58 187.33)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(1236.42 293.33)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(1130.25 293.33)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(1024.08 293.33)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(917.92 293.33)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(811.75 293.33)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(705.58 293.33)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(599.42 293.33)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(493.25 293.33)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(1342.58 293.33)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(144.75 399.33)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(357.08 399.33)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(250.92 399.33)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(1206.42 399.33)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(1100.25 399.33)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(994.08 399.33)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(887.92 399.33)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(781.75 399.33)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(675.58 399.33)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(569.42 399.33)"
         xlink:href="#NormalKey" />
    <use width="88"
         height="88"
         transform="translate(463.25 399.33)"
         xlink:href="#NormalKey" />
    <use width="126"
         height="88"
         transform="translate(0 187)"
         xlink:href="#KeyWide" />
    <use width="126"
         height="88"
         transform="translate(0 400)"
         xlink:href="#KeyWide" />
    <use width="126"
         height="88"
         transform="translate(0 507)"
         xlink:href="#KeyWide" />
    <use width="126"
         height="88"
         transform="translate(145 507)"
         xlink:href="#KeyWide" />
    <use width="126"
         height="88"
         transform="translate(289 507)"
         xlink:href="#KeyWide" />
    <use width="126"
         height="88"
         transform="translate(1016 507)"
         xlink:href="#KeyWide" />
    <use width="126"
         height="88"
         transform="translate(1160 507)"
         xlink:href="#KeyWide" />
    <use width="126"
         height="88"
         transform="translate(1304 507)"
         xlink:href="#KeyWide" />
    <use width="126"
         height="88"
         transform="translate(1448 507)"
         xlink:href="#KeyWide" />
    <rect class="cls-1"
          x="432"
          y="507"
          width="565"
          height="88"
          rx="6.75" />
    <rect class="cls-1"
          y="293"
          width="160"
          height="88"
          rx="6.75" />
    <rect class="cls-1"
          x="1380"
          y="82"
          width="194"
          height="88"
          rx="6.75" />
    <rect class="cls-1"
          x="1416"
          y="187"
          width="158"
          height="88"
          rx="6.75" />
    <rect class="cls-1"
          x="1310"
          y="399"
          width="264"
          height="88"
          rx="6.75" />
    <rect class="cls-1"
          x="1449"
          y="245"
          width="125"
          height="137"
          rx="6.75" />
    <path class="cls-2"
          [class.active]="key_a"
          d="M255,303v68H187V303h68m4.36-10H182.64a5.63,5.63,0,0,0-5.64,5.64v76.72a5.63,5.63,0,0,0,5.64,5.64h76.72a5.63,5.63,0,0,0,5.64-5.64V298.64a5.63,5.63,0,0,0-5.64-5.64Z"
          transform="translate(0)" />
    <path class="cls-2"
          [class.active]="key_w"
          d="M329,197.4v68H261v-68h68m4.36-10H256.64A5.63,5.63,0,0,0,251,193v76.72a5.63,5.63,0,0,0,5.64,5.64h76.72a5.63,5.63,0,0,0,5.64-5.64V193a5.63,5.63,0,0,0-5.64-5.64Z"
          transform="translate(0)" />
    <path class="cls-2"
          [class.active]="key_d"
          d="M466,303.3v68H398v-68h68m4.36-10H393.64a5.63,5.63,0,0,0-5.64,5.64v76.72a5.63,5.63,0,0,0,5.64,5.64h76.72a5.63,5.63,0,0,0,5.64-5.64V298.94a5.63,5.63,0,0,0-5.64-5.64Z"
          transform="translate(0)" />
    <use width="88"
         height="88"
         transform="translate(282 293.3)"
         xlink:href="#NormalKey" />
  </svg>
</div>
