@use 'vars';

.cls-1 {
  fill: vars.$colorBg2;
}

.cls-2 {
  fill: vars.$colorBg3;
  transition: fill vars.$tranNormalEased;
}

$marginLeft: 20px;

.bg {
  width: 100%;
  height: 100%;
  .logo-container {
    height: 100%;
    position: absolute;
    @include vars.not-phone {
      width: 90%;
      max-width: calc(100% - vars.$menuWidth - $marginLeft);
      left: vars.$menuWidth + $marginLeft;
    }
    @include vars.phone {
      left: $marginLeft;
      width: calc(100% - $marginLeft);
      max-width: unset;
    }

    overflow: hidden;
    svg {
      margin: auto;
      top: 0;
      bottom: 0;
      min-width: 1500px;
      margin-top: 15vh;
    }
  }
  .bg-bg {
    width: 100%;
    height: 100%;
    background-color: vars.$colorBg1;
    transition: background-color vars.$tranNormalLinear;
  }
}

.active {
  fill: vars.$colorAccent1;
}
