.projects-main-container {
  padding: 10px;
  width: calc(100% - 20px);
  h2 {
    text-align: center;
  }
  .projects-list {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, min(600px, 100%));
    gap: 50px;
  }
}
