@import 'vars';

:host {
  @include not-phone {
    top: 0;
    position: fixed;
  }
  height: 100vh;
  width: 210px;
  overflow: hidden;
  mask-image: linear-gradient(to bottom, transparent 15%, black, transparent 85%);
  @include phone {
    width: 100%;
    height: 200px;
    mask-image: linear-gradient(to right, transparent 0%, black, transparent 100%);
  }
}

$sectionSize: 220px;

.timeline-container {
  width: 100%;
  display: flex;
  position: relative;
  @include phone {
    height: 100%;
    flex-direction: row;
    left: calc(100% / 2 - $sectionSize / 2 - $sectionSize * var(--selected-section-index));
    transition: left $tranBezierMediumOvershoot;
  }
  @include not-phone {
    height: 100vh;
    flex-direction: column;
    top: calc(50vh - $sectionSize / 2 - $sectionSize * var(--selected-section-index));
    transition: top $tranBezierMediumOvershoot;
    position: fixed;
  }
  user-select: none;
  .section-wrapper {
    @include phone {
      width: $sectionSize;
      flex-direction: column;
    }
    @include not-phone {
      height: $sectionSize;
    }
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    &.selected {
      cursor: unset;
    }
    .dots {
      display: flex;
      @include phone {
        flex-direction: row;
        width: 100%;
        height: 40px;
        flex-shrink: 0;
      }
      @include not-phone {
        flex-direction: column;
        height: 100%;
        width: 40px;
      }
      align-items: center;
      justify-content: space-around;
      i {
        transition: font-size $tranSlowLinear, color $tranSlowLinear;
        font-size: 14px;
        &.lvl3 {
          font-size: 28px;
        }
      }
      &.selected {
        i.lvl1 {
          font-size: 18px;
        }
        i.lvl2 {
          font-size: 26px;
        }
        i.lvl3 {
          font-size: 34px;
          color: $colorAccent2;
        }
      }
    }
    .section {
      display: flex;
      align-items: center;
      gap: 10px;
      transition: font-size $tranBezierMediumOvershoot;
      padding: 20px;
      .year-string {
        font-size: $fontSizeGiant;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
