<div class="content">
  <div id="homeBox">
    @if (!langChanged()) {
    <span class="typing"
          [innerHtml]="typing1()"></span>

    <span class="typing link highlight"
          (click)="learnMore()"
          [innerHtml]="typing2()"></span>
    <span class="typing"
          [innerHtml]="typing3()"></span>

    } @else {

    <span class="typing">{{'home.typing.hi' | translate}}
      <br>{{'home.typing.iam' | translate}} <span class="highlight">Janik</span>.
      <br>{{'home.typing.click' | translate}}
    </span>

    <span class="typing link highlight">{{'home.typing.here' | translate}}</span>
    <span class="typing"> {{'home.typing.toLearnMore' | translate}}</span>
    }

    <span class="textCursor">_</span>

    @if (!langChanged()) {
    @for (a of fillerLines(); track a) {
    <div>
      &nbsp;
    </div>
    }
    }
    @if (!skip && !done()) {
    <div class="action-icon skip">
      <i (click)="fastForward()"
         aria-hidden="true"
         class="fa-light fa-forward"></i>
    </div>
    }
    @if (done()) {
    <div class="action-icon restart">
      <i (click)="restart()"
         aria-hidden="true"
         class="fa-light fa-arrow-rotate-right"></i>
    </div>
    }
  </div>
</div>
