@import 'vars';

:host {
  height: 100%;
  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    #homeBox {
      position: relative;
      width: 666px;
      max-width: 90%;
      height: 200px;
      overflow: hidden;
      white-space: pre-wrap;
      word-break: break-all;
      font-size: min(40px, calc((100vw - 160px) * 0.08));
      ::ng-deep {
        .highlight {
          color: $colorAccent1;
        }
      }
      .link {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-style: dotted;
      }

      .action-icon {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 28px;
        @include clickable;
      }
    }
  }
}
