<div class="content">
  <div id="homeBox"
       *awdLet="langChanged$ | async as langChanged">
    <span class="typing"
          *ngIf="!langChanged; else staticText1"
          [innerHtml]="typing1.text$ | async"></span>
    <span class="typing link highlight"
          *ngIf="!langChanged; else staticText2"
          (click)="learnMore()"
          [innerHtml]="typing2.text$ | async"></span>
    <span class="typing"
          *ngIf="!langChanged; else staticText3"
          [innerHtml]="typing3.text$ | async"></span>
    <span class="textCursor">_</span>

    <div *ngFor="let a of fillerLines$ | async">
      &nbsp;
    </div>
    <div *ngIf="!skip && (done$ | async) === false"
         class="action-icon skip">
      <i (click)="fastForward()"
         aria-hidden="true"
         class="fa-light fa-forward"></i>
    </div>
    <div *ngIf="(done$ | async)"
         class="action-icon restart">
      <i (click)="restart()"
         aria-hidden="true"
         class="fa-light fa-arrow-rotate-right"></i>
    </div>
  </div>
</div>
<ng-template #staticText1>
  <span class="typing">{{'home.typing.hi' | translate}}
    <br>{{'home.typing.iam' | translate}} <span class="highlight">Janik</span>.
    <br>{{'home.typing.click' | translate}}
  </span>
</ng-template>

<ng-template #staticText2>
  <span class="typing link highlight">{{'home.typing.here' | translate}}</span>
</ng-template>

<ng-template #staticText3>
  <span class="typing"> {{'home.typing.toLearnMore' | translate}}</span>
</ng-template>
