<div class="content">
  <div id="homeBox">
    @if (!langChanged()) {
      <span class="typing" [innerHtml]="typing1()"></span>
      <button class="typing link highlight" (click)="learnMore()" [innerHtml]="typing2()"></button>
      <span class="typing" [innerHtml]="typing3()"></span>
    } @else {
      <span class="typing"
        >{{ 'home.typing.hi' | translate }} <br />{{ 'home.typing.iam' | translate }}
        <span class="highlight">Janik</span>. <br />{{ 'home.typing.click' | translate }}
      </span>

      <button class="typing link highlight" (click)="learnMore()">{{
        'home.typing.here' | translate
      }}</button>
      <span class="typing"> {{ 'home.typing.toLearnMore' | translate }}</span>
    }

    <span class="textCursor">_</span>

    @if (!langChanged()) {
      @for (a of fillerLines(); track a) {
        <div>&nbsp;</div>
      }
    }
    @if (!skip() && !done()) {
      <button class="action-icon skip" (click)="fastForward()">
        <i aria-hidden="true" class="fa-light fa-forward"></i>
      </button>
    }
    @if (done()) {
      <button class="action-icon restart" (click)="restart()">
        <i aria-hidden="true" class="fa-light fa-arrow-rotate-right"></i>
      </button>
    }
  </div>
</div>
