<h2>awdware 1.0</h2>

<p>
  @if (lang() === 'de') {
    Version 1.0 von awdware.de ist eine Weiterentwicklung von Version 0.2. Die Seite wurde an
    einigen Stellen überarbeitet und es wurden einige neue Features hinzugefügt. Das awdware Logo
    wurde auch überarbeitet und ist seitdem ungefähr gleich geblieben, ebenso wie das
    Tastatur-Banner bzw. der Hintergrund. Die Technologien hinter der Seite haben sich kaum
    verändert, wobei immer mehr auch auf JavaScript gesetzt wurde.
  } @else {
    Version 1.0 of awdware.de is a further development of version 0.2. The page was revised in a lot
    of places and many new features were added. The awdware logo was also revised and has remained
    roughly the same since then, as has the keyboard banner / background. The technologies behind
    the page have hardly changed, although more and more JavaScript was used.
  }
  <awd-image src="assets/1_0.png" alt="" center width="80" maxheight="650" />
</p>
<p>
  @if (lang() === 'de') {
    awdware 1.0 hatte einige neue Features. Dazu gehörte ein Newsfeed, welcher über die neuesten
    Änderungen auf awdware.de informierte, ein Benachrichtigungssystem, welches z.B. über
    Abstimmungsergebnisse informierte und eine rudimentäre Implementierung von Stadt, Land, Fluss...
    Weil... Warum nicht? Dazu gab es auch noch mehr Konfigurationsmöglichkeiten für Abstimmungen. So
    konnte man bspw. Nutzer in Gruppen einteilen und dann nur Nutzer aus bestimmten Gruppen für eine
    Abstimmung zulassen. Dieses Feature haben wir bei uns in der Schuule genutzt, um Abstimmungen,
    die z.B. für unsere Abi-Feier relevant waren, nur für die Abiturienten freizugeben.
  } @else {}
</p>
<p>
  @if (lang() === 'de') {
    Neben der Galerie wurde noch ein URL shortener hinzugefügt. Dieser konnte genutzt werden um für
    beliebige Urls einen kurzen Link zu erstellen. Ansonsten gab es eine Seite, auf der man
    Abstimmungen erstellen konnte. Dabei konnte man wählen, ob man für nur eine Option, für mehrere
    Optionen oder mehrfach für dieselbe Optionabstimmen darf und ob man dafür angemeldet sein muss.
  } @else {
    In addition to the gallery, a URL shortener was added, which could be used to create a short
    link for any URL. Also there was a page where you could create polls. You could choose whether
    you could vote for only one option, for multiple options or multiple times for the same option
    and whether you had to be logged in to do so.
  }
  <awd-image src="assets/0_2votes.png" alt="" center width="80" maxheight="650" />
</p>
<p>
  @if (lang() === 'de') {
    Version 0.2 war deutlich besser strukturiert und hatte deutlich weniger Redundanzen. Das
    Farbschema der Version ist auch schon recht ähnlich zu heute.
  } @else {
    Version 0.2 was much better structured and had much less redundancy. The color scheme of the
    version is also quite similar to today.
  }
</p>
