<h2>awdware 1.0</h2>

<p>
  @if (lang() === 'de') {
    Version 1.0 von awdware.de ist eine Weiterentwicklung von Version 0.2. Die Seite wird an einigen
    Stellen überarbeitet, und es werden einige neue Features hinzugefügt. Das awdware-Logo wird
    ebenfalls überarbeitet und ist seitdem ungefähr gleich geblieben, ebenso wie das Tastatur-Banner
    bzw. der Hintergrund. Die Technologien hinter der Seite haben sich kaum verändert, wobei immer
    mehr auch auf JavaScript gesetzt wird.
  } @else {
    Version 1.0 of awdware.de is an evolution of version 0.2. The site undergoes revisions in
    certain areas, and new features are added. The awdware logo is also revamped and has remained
    relatively unchanged since, as has the keyboard banner or background. The technologies behind
    the site have hardly changed, with an increasing emphasis on JavaScript.
  }
  <awd-image src="assets/1_0.png" alt="" center width="80" maxheight="650" />
</p>
<p>
  @if (lang() === 'de') {
    awdware 1.0 hat einige neue Features, darunter ein Newsfeed, der über die neuesten Änderungen
    auf awdware.de informiert, ein Benachrichtigungssystem, das z.B. über Abstimmungsergebnisse
    informiert, und eine rudimentäre Implementierung von Stadt, Land, Fluss... Warum nicht? Dazu
    gibt es auch noch mehr Konfigurationsmöglichkeiten für Abstimmungen. So kann man bspw. Nutzer in
    Gruppen einteilen und dann nur Nutzer aus bestimmten Gruppen für eine Abstimmung zulassen.
    Dieses Feature haben wir in der Schule genutzt, um Abstimmungen, die z.B. für unsere Abi-Feier
    relevant waren, nur für die Abiturienten freizugeben.
  } @else {
    awdware 1.0 introduces several new features, including a news feed informing users of the latest
    changes on awdware.de, a notification system for events like poll results, and a rudimentary
    implementation of the game "City, Country, River." Why not? Additionally, there are more
    configuration options for polls. For example, users can be grouped, and only users from specific
    groups can participate in a poll. This feature was utilized in school to restrict polls relevant
    to our graduation celebration to only graduating students.
  }
</p>
<p>
  @if (lang() === 'de') {
    Eine bedeutende Ergänzung in Version 1.0 ist das eigens entwickelte Blog-System, das jedem
    Nutzer die Möglichkeit bietet, seinen eigenen Blog zu erstellen. Innerhalb dieses Systems können
    Blog-Beiträge individuell formatiert werden, wobei Nutzer die Freiheit haben, Bilder hochzuladen
    und YouTube-Videos einzubetten. Kommentare zu den Blog-Posts sind möglich und Nutzer können auf
    diese auch mit Zitaten antworten. Das Blog-System ist ebenfalls in das Benachrichtigungssystem
    integriert. Im Blog habe ich die Gelegenheit genutzt, einige meiner selbst geschriebenen
    Programme und Spiele zu teilen - eine Möglichkeit, die zuletzt nur in Version 0.1 der Seite
    vorhanden war.
  } @else {
    A noteworthy addition in Version 1.0 is the in-house developed blog system, providing each user
    the opportunity to create their own blog. Within this system, users have the flexibility to
    format blog posts individually, including the freedom to upload images and embed YouTube videos.
    Comments on blog posts are welcomed, and users can engage in discussions by responding to them
    with quotes. The blog seamlessly integrates with the notification system. Within the blog, I've
    seized the chance to share some of my programmed programs and games — an option that was only
    available in Version 0.1 of the site.
  }
  <awd-image src="assets/1_0blog.png" alt="" center width="80" maxheight="650" />
</p>
<p>
  @if (lang() === 'de') {
    Version 1.0 ist die letzte Ausgabe von awdware.de, die auf PHP und MySQL basiert. Diese Version
    war über einen längeren Zeitraum online und blieb sogar während der Entwicklung von Version 2.0
    weiterhin zugänglich. Die Entscheidung, Version 1.0 aktiv zu halten, hatte vor allem den Zweck,
    die Nutzerinhalte wie Abstimmungen und URL-Verkürzungen zu bewahren und nicht frühzeitig zu
    verlieren. Aber auch die Inhalte konnten mich nicht davon abhalten, die Seite früher oder später
    erneut komplett neu zu schreiben und auf eine moderne Technologie zu migrieren.
  } @else {
    Version 1.0 is the final release of awdware.de built on PHP and MySQL. It remained online for an
    extended period and continued accessibility even during the development of version 2.0. The
    decision to keep it active primarily aimed to preserve user-generated content, such as polls and
    URL shortening, preventing premature loss. However, even the existing content couldn't deter me
    from the eventual decision to rewrite the site entirely and migrate to modern technology.
  }
</p>
