@import 'vars';

$menuWidth: 100px;
$phoneMenuButtonHeight: 60px;

#app-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .menu-content-container {
    display: flex;
    height: 100%;
    width: 100%;

    .content {
      position: fixed;
      right: 0;
      z-index: 2;
      overflow: scroll;
      @include not-phone {
        height: 100%;
        width: calc(100vw - $menuWidth);
        left: $menuWidth;
      }
      @include phone {
        height: calc(100% - $phoneMenuButtonHeight);
        top: $phoneMenuButtonHeight;
        width: 100vw;
        left: 0;
      }
      ::ng-deep > *:not(router-outlet) {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: min-content;
        @include not-phone {
          min-height: calc(100vh - $safeScrollbarWidth);
          max-width: calc(100vw - $menuWidth - $safeScrollbarWidth);
        }
        @include phone {
          max-width: calc(100vw - $safeScrollbarWidth);
          min-height: calc(100% - $safeScrollbarWidth - $phoneMenuButtonHeight);
        }
      }
    }
    awd-menu {
      height: 100%;
      @include not-phone {
        z-index: 1;
        width: $menuWidth;
      }
      @include phone {
        z-index: 3;
        width: 100vw;
        &:not(.open) {
          height: $phoneMenuButtonHeight;
        }
      }
    }
  }
  .bg {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 0;
    @include not-phone {
      width: 90%;
      max-width: calc(100% - $menuWidth);
      left: $menuWidth;
    }
    @include phone {
      left: 20px;
      width: calc(100% - 20px);
      max-width: unset;
    }
  }
}

.preload-container {
  position: fixed;
  top: 99999px;
  left: 99999px;
}
