<div id="app-main" (mousemove)="setMouseCoords($event)">
  <div class="bg">
    <awd-bg />
  </div>
  <div class="menu-content-container">
    <awd-menu [class.open]="menuOpen()" />
    <div
      #content
      (scroll)="contentScrolled(content)"
      class="content appear"
      [@routeAnimations]="prepareRoute(outlet)"
    >
      <router-outlet #outlet="outlet" (activate)="contentScrolled(content)" />
    </div>
  </div>
</div>

<div class="preload-container">
  @for (icon of preloadIcons$ | async; track icon) {
    <i aria-hidden="true" class="fa-light fa-{{ icon }}"> </i>
  }
  @for (img of preloadImgs$ | async; track img) {
    <img alt="" aria-hidden="true" [src]="img" />
  }
  @if (!themeChanged()) {
    <svg style="width: 0; height: 0">
      <filter id="noiseFilter">
        <feTurbulence type="fractalNoise" baseFrequency="0.04" result="noise" numOctaves="5" />

        <feDiffuseLighting in="noise" lighting-color="#fff" surfaceScale="2">
          <feDistantLight azimuth="45" [attr.elevation]="isLightTheme() ? 65 : 40" />
        </feDiffuseLighting>
      </filter>
    </svg>
  }
</div>

<div class="scroll-blur top" [style.--top]="scrollInfo().top"></div>
<div class="scroll-blur bot" [style.--bot]="scrollInfo().bot"></div>
