#app-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .content {
    flex-grow: 1;
    overflow-y: auto;
    z-index: 1;

    ::ng-deep > * {
      position: fixed;
      height: 100%;
      width: 100%;
      z-index: 1;
    }
  }

  .bg {
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 0;
  }
}
