<div id="app-main"
     (mousemove)="setMouseCoords($event)">
  <div class="bg">
    <awd-bg></awd-bg>
  </div>
  <div class="menu-content-container">
    <awd-menu [class.open]="menuOpen$ | async"></awd-menu>
    <div class="content"
         [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>
</div>

<div class="preload-container">
  <i *ngFor="let icon of preloadIcons$ | async"
     aria-hidden="true"
     class="fa-light fa-{{icon}}">
  </i>
  <img *ngFor="let img of preloadImgs$ | async"
       alt=""
       aria-hidden="true"
       [src]="img">
</div>
