@import 'vars';

* {
  font-family: $fontFamily;
}

body,
html {
  font-weight: $fontWeightNormal;
  font-size: $fontSizeNormal;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  background-color: $colorBg1;
  color: $colorContent1;
  transition: background-color 0.2s, color 0.2s;
}

body {
  overflow: hidden;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}
