@import 'vars';

:host {
  height: 100%;
}
.timeline-base {
  display: flex;
  align-items: center;
  gap: 40px;
  max-height: 100;
  height: 100%;
  @include phone {
    flex-direction: column;
  }
  .timeline,
  .timeline-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .timeline {
  }
  .timeline-content {
  }
}
