<div class="project"
     *ngIf="repoInfo() as repoInfo">
  <div class="header">
    <h3 class="title">
      <a href="https://github.com/{{repoInfo.username}}/{{repoInfo.name}}"
         class="stars"
         data-umami-event="external-link-github-project"
         [attr.data-umami-event-project]="repoInfo.username + '/' + repoInfo.name"
         target="blank">{{repoInfo.name}}</a>
    </h3>
  </div>
  <hr>
  <p *ngIf="lang() as lang">
    {{project?.descriptions?.[lang] ?? repoInfo.description}}
  </p>
  <hr>
  <div class="info">
    <div class="icon-language">
      <i aria-hidden="true"
         class="devicon-{{toLanguageIcon(repoInfo.language)}} colored"></i> {{repoInfo.language}}
    </div>

    <a class="stars"
       data-umami-event="external-link-github-project"
       [attr.data-umami-event-project]="repoInfo.username + '/' + repoInfo.name"
       href="https://github.com/{{repoInfo.username}}/{{repoInfo.name}}/stargazers"
       target="blank">
      <i class="filled fa-solid fa-star"
         aria-hidden="true"></i> {{repoInfo.stars}}
    </a>
  </div>
  <hr>
  <a href="https://github.com/{{repoInfo.username}}/{{repoInfo.name}}"
     data-umami-event="external-link-github-project"
     [attr.data-umami-event-project]="repoInfo.username + '/' + repoInfo.name"
     target="blank">
    <button class="button">
      {{'viewProject' | translate}}
    </button>
  </a>
</div>
