@import 'vars';

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .logos {
    display: flex;
    justify-content: center;
    gap: 20px;
    img {
      height: 60px;
      @include hover-scale;
    }
    &.more {
      max-width: 70%;
      flex-wrap: wrap;

      a {
        padding: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        @include highlightable;
        @include hover-scale;
      }
    }
  }
}
