<div class="skills-container">
  <h2>{{ 'about.workingWith' | translate }}</h2>
  <div class="logos">
    @for (skill of skills; track skill) {
    <a data-umami-event="external-link-skills"
       [attr.data-umami-event-thing]="skill.name"
       target="_blank"
       [tooltip]="skill.name"
       [href]="skill.link">
      <img [src]="'assets/img/' + (skill.imageFilename ? skill.imageFilename : logoService.getIconName(skill)() + '.svg') | resourceMap:'home'"
           [alt]="'Logo of ' + skill.name">
    </a>
    }
  </div>
  <h2>{{ 'about.alsoKnowledgeableIn' | translate }}</h2>
  <div class="logos more">
    @for (knownThing of knowledge; track knownThing) {
    <a class="umami--click--external-link-skills-{{knownThing.name}}"
       data-umami-event="external-link-skills"
       [attr.data-umami-event-thing]="knownThing.name"
       target="_blank"
       [href]="knownThing.link">
      <img [src]="'assets/img/' + logoService.getIconName(knownThing)() + '.svg' | resourceMap:'home'"
           [alt]="'Logo of ' + knownThing.name">
      {{knownThing.name}}
    </a>
    }
  </div>
</div>
